<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagnosis - Medi-Ray</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body class="bg-white">
    <!-- Header -->
    <header
      class="bg-white w-full h-16 shadow-md fixed top-0 flex items-center px-4 z-50"
    >
      <!-- 로고 이미지 -->
      <img
        src="/assets/img/logo.svg"
        alt="Medi-Ray Logo"
        class="w-24 md:w-32 h-auto cursor-pointer"
        id="logo"
      />

      <!-- 햄버거 버튼 -->
      <button id="menuToggle" class="ml-auto text-gray-800">
        <i class="fas fa-bars text-2xl"></i>
      </button>
    </header>

    <!-- Accordion Menu (Right Sidebar) -->
    <div
      id="accordionMenu"
      class="bg-black text-white p-6 transform translate-x-full fixed top-0 right-0 h-full w-64 transition-transform duration-300 z-50"
    >
      <button id="closeBtn" class="text-white mb-4 focus:outline-none">
        <i class="fas fa-times text-xl"></i> 닫기
      </button>
      <div class="flex items-center mb-6">
        <img
          src="/assets/img/profile.png"
          alt="Profile Image"
          class="w-12 h-12 rounded-full mr-4"
        />
        <div id="user-info" class="text-gray-300">
          <!-- 로그인 정보가 동적으로 추가됩니다 -->
        </div>
      </div>
      <a href="../about" class="py-2 block hover:bg-gray-700 rounded">About Us</a>
      <a href="../dicom" class="py-2 block hover:bg-gray-700 rounded"
        >DICOM Upload</a
      >
      <a href="../diagnosis" class="py-2 block hover:bg-gray-700 rounded"
        >Diagnosis</a
      >
    </div>

    <!-- Main Section -->
    <div class="container mx-auto px-4 md:px-8 mt-24 md:mt-20">
      <div class="flex flex-col md:flex-row justify-between gap-8">
        <!-- Left Side: Canvas -->
        <div class="w-full md:w-3/5">
          <div class="bg-white p-4 md:p-6 rounded-lg shadow-md">
            <h2 class="text-xl md:text-2xl font-bold mb-4 md:mb-6 text-center">
              Diagnosis
            </h2>
            <div
              class="flex flex-wrap items-center justify-center space-x-2 md:space-x-4 mb-4 md:mb-6 p-4 bg-gray-50 rounded-lg"
            >
              <button
                id="brushTool"
                class="px-3 py-1 md:px-4 md:py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md transition"
              >
                Brush
              </button>
              <!-- <button
                id="eraserTool"
                class="px-3 py-1 md:px-4 md:py-2 bg-gray-500 hover:bg-gray-600 text-white rounded-md transition"
              >
                Eraser
              </button> -->
              <button
                id="rectangleTool"
                class="px-3 py-1 md:px-4 md:py-2 bg-green-500 hover:bg-green-600 text-white rounded-md transition"
              >
                Rectangle
              </button>
              <button
                id="clearCanvas"
                class="px-3 py-1 md:px-4 md:py-2 bg-red-500 hover:bg-red-600 text-white rounded-md transition"
              >
                Erase All
              </button>
              <button
                id="camButton"
                class="px-3 py-1 md:px-4 md:py-2 bg-gray-500 hover:bg-gray-600 text-white rounded-md transition"
              >
                CAM
              </button>
              <label class="flex items-center"
                >Color:
                <input
                  type="color"
                  id="colorPicker"
                  class="ml-1 md:ml-2 w-6 md:w-8 h-6 md:h-8 rounded cursor-pointer"
                />
              </label>
              <label class="flex items-center"
                >Size:
                <input
                  type="range"
                  id="brushSize"
                  min="1"
                  max="20"
                  value="5"
                  class="ml-1 md:ml-2 w-20 md:w-24"
                />
              </label>
            </div>
            <!-- Canvas Section -->
            <div class="relative flex justify-center">
              <div class="canvas-container relative w-full h-auto max-w-full">
                <canvas
                  id="diagnosisCanvas"
                  class="border border-gray-300 rounded-lg shadow-sm w-full h-full"
                  width="800"
                  height="600"
                ></canvas>
                <button
                  id="loadImageBtn"
                  class="absolute top-4 right-4 bg-green-500 hover:bg-green-600 text-white py-1 px-3 md:py-2 md:px-4 rounded-md transition"
                >
                  이미지 가져오기
                </button>
                <input
                  type="file"
                  id="imageLoader"
                  class="hidden"
                  accept="image/*"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Right Side: 촬영 리스트 및 예측 결과 -->
        <div class="w-full md:w-2/5">
          <div class="space-y-4 md:space-y-6">
            <div class="bg-white p-4 md:p-6 rounded-lg shadow-md">
              <h3
                class="text-lg md:text-xl font-bold mb-2 md:mb-4 border-b pb-1 md:pb-2"
              >
                촬영 리스트
              </h3>
              <ul class="space-y-2">
                <li>
                  <button class="text-blue-500 hover:text-blue-700 transition">
                    24.10.21.14:20
                  </button>
                </li>
                <li>
                  <button class="text-blue-500 hover:text-blue-700 transition">
                    24.10.19.15:35
                  </button>
                </li>
                <li>
                  <button class="text-blue-500 hover:text-blue-700 transition">
                    24.10.12.17:15
                  </button>
                </li>
              </ul>
            </div>
            <div id="diagnosisResults" class="bg-white p-4 md:p-6 rounded-lg shadow-md">
              <h3
                class="text-lg md:text-xl font-bold mb-2 md:mb-4 border-b pb-1 md:pb-2"
              >
                병변 예측 결과
              </h3>
              <ul class="space-y-2">
                <li class="flex justify-between items-center">
                  <span>Atelectasis</span><span class="font-semibold">87%</span>
                </li>
                <li class="flex justify-between items-center">
                  <span>Consolidation</span
                  ><span class="font-semibold">76%</span>
                </li>
                <li class="flex justify-between items-center">
                  <span>Lung Lesion</span><span class="font-semibold">72%</span>
                </li>
                <li class="flex justify-between items-center">
                  <span>Pneumonia</span><span class="font-semibold">67%</span>
                </li>
                <li class="flex justify-between items-center">
                  <span>Pleural Other</span
                  ><span class="font-semibold">55%</span>
                </li>
              </ul>
            </div>
            <div class="bg-white p-4 md:p-6 rounded-lg shadow-md">
              <h3
                class="text-lg md:text-xl font-bold mb-2 md:mb-4 border-b pb-1 md:pb-2"
              >
                의사 소견란
              </h3>
              <textarea
                class="w-full h-24 md:h-32 p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none"
                placeholder="의사 소견 입력"
              ></textarea>
              <div class="flex justify-end space-x-3 mt-4">
                <button
                  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-6 rounded-md transition"
                >
                  저장
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/xray.js"></script>
    <script src="/assets/js/header.js"></script>
    <script>
      document.getElementById('logo').addEventListener('click', function () {
        window.location.href = '../main';
      });
    </script>
  </body>
</html>
